@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Playfair+Display&family=Poppins:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
}

:root{
	--text-color: #FF1616;
	--bg-color: #FF1616;	
}

body{
	background: #FBFBFB;
	position: relative;
	overflow-x: hidden;
}
/*global classes*/

.font-bar{
	font-family: 'Barlow', sans-serif;
}

.font-play{
	font-family: 'Playfair Display', serif;
}

.font-pop{
	font-family: 'Poppins', sans-serif;
}


.font-14{
	font-size: 14px;
}

.font-17{
	font-size: 17px;
}

.font-20{
	font-size: 20px;
}

.font-28{
	font-size: 28px;
}

.font-34{
	font-size: 34px;
}

.font-40{
	font-size:40px;
}

.font-50{
	font-size: 50px;
}

.text-fav{
	color: var(--text-color);
}

.bg-fav{
	background-color: var(--bg-color);
}

.btn-fav{
	background-color: var(--bg-color);
}

/*preloader*/
.content{
	display: none;
}

.loader{	
	height: 100vh;
	width: 100vw;	
	position: absolute;
	background: #FBFBFB;
}

.loader lord-icon{	
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

/*nav*/

nav{	
	overflow: hidden;	
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.2);
}

.navbar-toggler{	
	display: contents;	
}

.navbar-toggler:hover{
	color: var(--text-color)!important;
}

.nav-link{
	margin-left: 30px;
}


input[type="text"]{
	
	
}

nav button:hover{
	transition: 0.5s ease;
	background: #fff;
	border: 1px solid var(--bg-color);
	outline: #ffc;
}

i{
	cursor: pointer;
}

i:hover{
	color: var(--text-color);
}

.nav-link:hover{
	transition: 0.5s ease;
	color: var(--text-color)!important;
}


.nav-pills .nav-link.active{	
     color: var(--text-color)!important;
     background: none!important;
}

nav i:hover {	
	cursor: pointer;
	color: var(--text-color);
	transition: .4s;
}

nav i{
	font-size: 20px!important;
	color: #000;
}

nav .shopping-icons .nav-link{
	margin-left: 0px!important;
}



@media screen and (max-width: 768px){

	.nav-link{
		margin-left:0px;
	}

	}


/*to-top*/

.to-top{
	position: fixed;
	bottom: 16px;
	right: 18px;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	z-index:1;
	transition: all .4s;
	background: red;	
}

.button-to-top button{	 
	 background: none;
	 border:none;
	 outline: none;	 
}

.button-to-top span{
	background: var(--bg-color);
	color: #FFF;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;	
	transition: 0.5s ease;
}

.button-to-top span:hover{
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.2); 
	transform: translateY(-3px);
}

 .to-top:focus{
	 background: none;
	 border:none;
	 outline: none;
}

.to-top.active{
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;

}

@media screen and (max-width: 768px){
	.to-top{
	position: fixed;
	bottom: 16px;
	right: 14px;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	z-index:1;
	transition: all .4s;
	border-radius: 5px;
	font-size: 30px;
	}
}

/*home*/
/*
#home .landing{
	height: 100vh;
}*/

#home .home-info{
	margin-top: 10rem;
}

#home .home-image{
	margin-top: 6rem;
}

#home a{
	color: #000;
	text-decoration: none;
	transition: 0.5s ease;
}

#home a:hover{
	color: var(--text-color);
	transform: translateY(-20px);


}

#home button{
	background: var(--bg-color);
	color: #FFF;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;	
	outline: none;
	border: none;
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.2); 
	transition: 0.5s ease;

}

#home button:hover {
	border: var(--bg-color);	
	box-shadow: 0 1px 15px 0 rgba(0,0,25,0.4); 
	color: var(--text-color);
	transform: translateY(-2px);

}

@media screen and (max-width: 768px){
	#home .home-info{
	margin-top: 3.9rem;
	}

	#home .home-image{
		margin-top: 1.2rem;
	}
	#home .home-info-text{
		font-size: 39px!important;
	}
	#home .d-flex{
		margin-top: 1.3rem!important;
	}
}

/*services*/
#home .services{
	margin-top: 7rem;
	background-color:#FFFFFF;
	padding: 1.7rem 1.7rem;
	border-radius: 18px;
	box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}
/*mixitup*/
#new-arrivals li{
	cursor: pointer;
	list-style: none;
	font-size: 17px;
	
}

#new-arrivals li.mixitup-control-active{
	color: var(--text-color);
}

#new-arrivals button{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

#new-arrivals button:hover{
	background: none;
	border: 1px solid var(--bg-color);
}

#new-arrivals button:hover #new-arrivals i{
	width: 100px!important;
}

/*#new-arrivals .works-content{
	background: #FFF;
	border-radius: .5rem;
	overflow: hidden;
	margin-bottom: 2rem;
	box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}
*/
/*#new-arrivals .works-data{
	padding: 2rem 1rem;
}*/

#new-arrivals img{
	width: 250px;
	height: 250px;
	border-radius: 2%;
	
}

#new-arrivals .works-content:hover img{
	cursor: pointer;
	transform: scale(1.02);
	transition: .5s ease;
	overflow: hidden;
}
/*
#new-arrivals .works-content:hover{
	box-shadow: 0 4px 6px rgba(174, 190, 205, .4);
}
*/
